* {
  color: white;
/*  text-decoration: none; */
}

body {
	background-image: url('assets/background.png');
/*	background-size: auto max(100vw, 100vh);*/
	background-size: max(56vw, 66vh) auto;
/*	background-size: 200%;*/
	background-repeat: no-repeat;
	background-position: 100% 100%;
	margin: 0;
	padding: 0;
	background-color: #ECECEC;
	font-family: 'Montserrat', sans-serif;
	
}

#content-wrap {
	display: flex;
	flex-direction: column;
}

#title {
/*	outline: 1px red solid;*/
	width: 100%;
/*	margin: auto;*/
	display: flex;
	flex-wrap: wrap;
/*	justify-content: center;*/
}

#title img {
	display: block;
	width: 100%;
	height: auto;
}

#date {
/*	outline: 1px solid red;*/
	width: 100%;
	min-width: 70vh;
/*	margin: auto;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#date img {
	display: block;
	width: 40%;
	height: auto;
}

#photo {
	display: none;
	width: 100vw;
	margin: auto;
	justify-content: center;
	background-color: #ECECEC;
}

#photo img {
	display: block;
	width: 80vw;
	height: auto;
}


.footer img {
		padding: 0px 5px;
		width: 32px;
		height: auto;
	}


/*landscape*/
@media only screen and (min-aspect-ratio: 1/1) {
	
	#content-wrap {
		height: 100vh;
		width: 60vw;
	}
	
	#title img {
		filter: invert(0.9);
		width: 50vw;
		min-width: 80vh;
		height: auto;
/*		margin-top: calc(50vh - 25%)*/
		margin-top: 10vh;
		margin-left: 4vw;
	}
	
	#date img {
		filter: invert(0.9);
		margin-top: 10vh;
/*		margin-left: 18vw;*/
	}
	
	#photo {
		display: none;
	}
	
	.footer {
/*		align-self: flex-end;*/
		display: flex;
		flex-direction: column;
		text-align: left;
		margin-top: auto;
		padding-bottom: 10px;
/*		width: calc(100vw - 60px);*/
		margin-left: 30px;
/*		align-self: flex-end;*/
		width: 62%;
	}
	
	.footer p {
		color: #191919;
		font-size: 0.8em;
	}
}


/*portrait*/
@media only screen and (max-aspect-ratio: 1/1) {
	
	#content-wrap {
		height: 100vh;
		width: 100vw;
	}
	
	body {
		background-image: none;
		background-color: black;
	}
	
	#title {
		width: 90vw;
		margin: auto;
		display: flex;
		justify-content: center;
		padding-bottom: 20px;
	}
	
	#title img {
		margin-top: 5vh;
		color: black;
	}
	
	#date {
		padding-top: 20px;
		margin: auto;
		justify-content: center;
	}
	
	#date img {
		display: block;
		width: 40%;
	}
	
	#photo {
		display: flex;
	}
	
	.footer {
		text-align: center;
		margin-top: 32px;
	}
	
	.footer p {
		font-size: 2vw;
		color: #A0A0A0;
	}
}


